@page
@model AccessDeniedPathInfoModel

@{
    ViewData["Title"] = "Access denied path";
}
<ul>
    <li>Remote authentication was canceled</li>
    <li>This app requires authentication</li>
    <li>To try sign-in again, select the Login link</li>
</ul>
